.pricing {
    &__container {
        grid-template-columns: 285px;
        justify-content: center;
        row-gap: 2rem;
    }

    &__card,
    &__shape,
    &__list {
        display: grid;
    }

    &__card {
        row-gap: 2rem;
        background-color: hsla(79, 6%, 64%, 0.07);
        padding: 2rem 2.5rem;

        &--active {
            background-color: var(--first-color);
            border: 2px solid var(--first-color-light);

            & .pricing__shape {
                background-color: var(--first-color-light);
            }

            & .pricing__item i {
                color: var(--title-color);
            }

            & .pricing__title,
            & .pricing__number,
            & .pricing__item {
                color: var(--title-color-black);
            }
        }
    }

    &__img {
        width: 35px;
    }

    &__shape {
        width: 60px;
        height: 60px;
        background-color: var(--first-color-grey);
        border-radius: 50%;
        place-items: center;
        margin-bottom: 1rem;
    }

    &__title {
        font-size: var(--fs-lg);
        color: var(--text-color);
        margin-bottom: 1rem;
    }

    &__number {
        font-size: var(--fs-xxl);
    }

    &__list {
        row-gap: 1rem;
    }

    &__item {
        display: flex;
        column-gap: 0.5rem;
        align-items: center;
        font-size: var(--fs-sm);

        & i {
            font-size: 1.25rem;
            color: var(--first-color);
        }

        &--opacity {
            opacity: 0.3;
        }
    }

    &__button {
        background-color: var(--title-color);
        font-size: var(--fs-sm);
    }
}