.header {
    overflow: hidden;
}

.header {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--zi-fixed);
    transition: background 0.3s;
}

.nav {
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.nav__logo,
.nav__toggle {
    color: var(--title-color);
    display: flex;
}

.nav__logo {
    align-items: center;
    column-gap: 0.5rem;
    font-weight: var(--fw-bold);
}

.nav__logo img {
    width: 1.25rem;
}

.nav__toggle {
    font-size: 1.25rem;
    cursor: pointer;
}

.nav .nav__button {
    background-color: var(--title-color);
    border: 0;

    &:hover {
        background-color: var(--first-color);
    }
}

.bg-header {
    background-color: var(--body-color);
    box-shadow: 0 4px 8px hsla(180, 12%, 4%, 0.3);
}

@media (max-width: 1023px) {
    .nav__menu {
        position: fixed;
        background-color: hsla(180, 12%, 8%, 0.8);
        -webkit-backdrop-filter: blur(32px);
        backdrop-filter: blur(32px);
        top: 0;
        right: -100%;
        width: 80%;
        height: 100%;
        border-left: 2px solid var(--first-color-gray);
        transition: right 0.3s;
    }

    .nav__list {
        padding: 5rem 0 0 3rem;
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
    }

    .nav__link {
        color: var(--title-color);
        transition: color 0.3s;

        &:hover {
            color: var(--first-color);
        }
    }

    .nav__close {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        font-size: 1.5rem;
        color: var(--title-color);
        cursor: pointer;
    }
}

.show-menu {
    right: 0;
}

.active-link {
    color: var(--first-color);
}